{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content %}
<div class="lpg">
    <h1 class="abt">
        LPG-Liquified Petroleum Gas
    </h1>
    </div>
    
    
    <p>LPG is the abbreviation or short form for liquefied petroleum gas. Like all fossil fuels, it is a non-renewable source of energy. It is extracted from crude oil and natural gas. The main composition of LPG are hydrocarbons containing three or four carbon atoms. The normal components of LPG thus, are propane (C3H8) and butane (C4H10). Small concentrations of other hydrocarbons may also be present. Depending on the source of the LPG and how it has been produced, components other than hydrocarbons may also be present. LPG is a gas at atmospheric pressure and normal ambient temperatures, but it can be liquefied when moderate pressure
    
    which makes it an ideal energy source for a wide range of applications.is applied or when the temperature is sufficiently reduced. It can be easily condensed, packaged, stored and utilized,Normally, the gas is stored in liquid form under pressure in a steel container, cylinder or tank. The pressure inside the container will depend on the type of LPG (commercial butane or commercial propane) and the outside temperature.When you start using LPG, some of the pressure in the container is released. Some of the liquid LPG then boils to produce
    
      
    
    vapour. Heat is needed to convert the liquid to vapour (known as the latent heat of vaporization). As the liquid boils, it draws the heat energy from its surroundings. This explains why containers feel cold to touch and why, if there is a heavy off-take, water or ice may appear on the container. When you stop using LPG, the pressure will return to the equilibrium value for the surrounding temperature. The pressure of the LPG in the container varies with the surrounding temperature. It is also much higher than is needed by the appliances that use it; it needs to be controlled to ensure a steady supply at constant pressure. This is done by a regulator, which limits the pressure to suit the appliance that is being fuelled. It is a colourless and odourless gas to which foul-smelling mercaptan is added so that leak can be easily detected.
    
    LPG is highly inflammable and must therefore be stored away from sources of ignition and in a well-ventilated area, so that any leak can disperse safely. Another reason why care should be taken during storage is that LPG vapour is heavier than air, so any leakage will sink to the ground and accumulate in low lying areas and may be difficult to disperse. LPG expands rapidly when its temperature rises. So whenever a container is filled, sufficient space is left to allow for such expansion. LPG will cause natural rubber and some plastics to deteriorate. This is why only hoses and other equipment specifically designed for LPG should be used.
    
    Although LPG is non-toxic, its abuse  (like that of solvents) is highly dangerous. LPG should always be treated with respect and kept away from children whenever possible.
    
    Liquid petroleum gases were discovered in 1912 when Dr. Walter Snelling, an American scientist, realized that these gases could be changed into liquids and stored under moderate pressure. From 1912 and 1920, LP-gas uses were developed. The first LPG cook stove was made in 1912, and the first LPG -fueled car was developed in 1913. The LPG industry began sometime shortly before World War I. At that time, a problem in the natural gas distribution process popped up. Gradually facilities were built to cool and compress natural gas, and to separate the gases that could be turned into liquids (including propane and butane). LPG was sold commercially by 1920.</p>

{% endblock %}