{% extends "base.html" %} {% block title %}Log-in{% endblock %} {% block content
    %}
<div class="container3">
   
    <table>
        <tr>
            <!-- <td>Address</td> -->
            <td><h1 class="contactus">Contact us</h1></td>
            
        </tr>
       <tr>
           <!-- <td>Address</td> -->
           <td><div class="address">Shree Gas Agency<br>4/11, Seth road,<br>Mumbai 400 120</div></td>
           
       </tr>
       <tr>
        <!-- <td>Customer care</td> -->
        <div class="customer">
        <td>Customer care: 022-234598154</td>
    </div>
        
    </tr>
    
    <tr>
        <div class="email">
        <!-- <td>Email</td> -->
        <td>Email id: bookinggaslpg@gmail.com</td></div>
    </tr>
</div>

    </table>
</div>

{% endblock %}