{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="container5">
  <div class="row">
    <div class="col-5 left">
      <div class="input-box">
        <span class="details">personal-info</span>
      </div>
      <div class="input-box">
        <span class="details">Name</span>
        {{ user.u_name }}
      </div>
      <div class="input-box">
        <span class="details">id</span>
        {{ user.u_id }}
      </div>
      <div class="input-box">
        <span class="details">Address</span>
        {{ user.u_address }}
      </div>
      <div class="input-box">
        <span class="details">Email</span>
        {{ user.u_email }}
      </div>
      <div class="input-box">
        <span class="details">Mobile</span>
        {{ user.u_contact_no }}
      </div>
      <div class="input-box">
        <span class="details">DOB</span>
        {{ user.u_date_of_birth }}
      </div>
      
    </div>
    <div class="col-7">
      <div class="row topright">
        <div class="col-5 right1">
          <img src="static/profile.png" />
        </div>
        <a class="col-5 right2" href="/booking">Book Gas</a>
      </div>
      <div class="row bottomright">
        <a class="col-5 bottomright1" href="/orderhistory">hello1</a>
        <div class="col-5 bottomright2">hello2</div>
      </div>

      <div class="row rightbottom">
        <div class="col-7 rightbottom1">hello1</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
