{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container13">
  <div class="row">
    <div class="col left" >
      <div class="card">
        <div class="card-body">
          <div class="val-box">
          <h5 class="card-title">Personal Information</h5>
          <p >Name: {{user.u_name}}</p>
          <p >ID: {{user.u_id}}</p>
          <p >Address: {{user.u_address}}</p>
          <p>Contact: {{user.u_contact_no}}</p>
          <p >Email: {{user.u_email}}</p>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
      </div>
    </div>
    <div class="col right1" >
      <div class="value2">
    <div class="value">
      <a href="/dashboard">
      <div class="val-box1">
        
        <img src="static/profile.png">
        <h3> Profile</h3>
      </a>
      </div>
    </div>
  
    <div class="value">
      <a href="/booking">
      <div class="val-box2">
       
        <img src="static/cylinder.png">
        <h3> Book Order</h3>
      </div>
    </a>
    </div>
    </div>
    </div>
    <div class="col" >
      <div class="value3">
      <div class="value">
        <a href="/feedback">
        <div class="val-box5">
          <img src="static/chat.png">
          <h3> Feedback and Complaints </h3>
        </div>
      </a>
      </div>
    </div>
  </div>
  </div>
  </div>
{% endblock %}
