{% extends "base.html" %} {% block title %}Signup{% endblock %} {% block content
%}

<div class="body">
  <div class="container">
    <div class="title">Registration</div>
    <div class="title">Fill this form to create an account</div>
    <form action="" method="POST">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Name</span>
          <input type="text" name="name" placeholder="Enter the name" />
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="email" name="email" placeholder="Enter the Email" />
        </div>
        <div class="input-box">
          <span class="details">password</span>
          <input
            type="password"
            name="password1"
            placeholder="Enter the password"
          />
        </div>
        <div class="input-box">
          <span class="details">Confirm password </span>
          <input
            type="password"
            name="password2"
            placeholder="confirm password"
          />
        </div>
        <div class="input-box">
          <span class="details">contact</span>
          <input type="text" name="contact" placeholder="Enter the contact" />
        </div>
        <div class="input-box">
          <span class="details">Address</span>
          <input type="text" name="address" placeholder="Enter the Address" />
        </div>
        <div class="input-box">
          <span class="details">Date of birth</span>
          <input type="text" name="DOB" placeholder="Enter date of birth" />
        </div>
      </div>
      <div class="button">
        <input type="submit" value="Register" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
