tr td:first-child{
    padding-right: 24px;
    padding-bottom: 24px;
    margin-left: 20px;

    
}

tr td{
    font-size: 20px;
    /* font-weight: bold; */
}

.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-color: #ccc;
    margin-left: 5px;
    color: #EB4F4F;
}
tr .email td{
    margin-top: 25px;
}
/* 
table tr td h1{
    align-items: center;
    text-align: center;
    font-size: 45px;
} */
.contactus{
    align-items: center;
    text-align: center;
    font-size: 45px;
    color: yellow;
}

tr td .address{
    text-align: center;
    color: #EB4F4F;
}