.container13 .row .left{
    width: 100%;
}

.container13 .row .left .card{
    width: 100%;
    margin-left: 200px;
    /* padding-top: 40px; */
    background-color: #B7E5DD;
}

.container13 .row .left .card .card-body{
    height: 65vh;width: 100%;
 /*    margin-top: 15px */;
    border-radius: 5px;
    border: 3px solid #ccc;
    background-color: #151D3B;
}

.container13 .row .left .card .card-body .card-title{
    font-size: 24px;
    font-weight: bolder;
    margin-left: 0px;
}
.container13 .row .left .card .card-body .val-box p{
    font-size: 15px;
    font-weight: bold;
    margin-left: 1px;
}
.container13 .row .left .card{
    border: none;
}
.val-box{
   
    border-radius: 5px;
    margin-top: 15px;
    height: 45vh;
    
}
.card-title{
    color: aliceblue;
}
.val-box1{
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.val-box1 img{
   height: 85px;
   width: 85px;
    margin-left: 40px;
}

.val-box1  h3{
    font-weight: bolder;
    letter-spacing: 2px;
    margin-left: 40px;
    font-size: 25px;
}

.val-box2{
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-top: 16px;
    background-color: #f2f2f2;
}
.val-box2 img{
    height: 85px;
    width: 85px;
     margin-left: 40px;
}
.val-box3{
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-top: 16px;
    background-color: #f2f2f2;
}

.val-box3 img{
    height: 85px;
    width: 85px;
     margin-left: 65px;
}

.val-box4{
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-top: 8px;
    background-color: #f2f2f2;
}
.val-box4 img{
    height: 85px;
    width: 85px;
     margin-left: 65px;
}

.val-box5{
    border: 3px solid #ccc;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 150px;
    background-color: #f2f2f2;
}
.val-box5 img{
    height: 85px;
    width: 85px;
    margin-left: 40px;
}
.value2{
    margin-left: 50px;
}
.container13 .row .right1{
    
    height: 60vh;
    margin-left: 300px;
    margin-top: 75px;
}

.value2{
    margin-top: 20px;
}

.value3{
    margin-top: 70px;
}
.val-box2  h3{
    font-weight: bolder;
    letter-spacing: 2px;
    margin-left: 40px;
    font-size: 25px;
}
.val-box3  h3{
    font-weight: bolder;
    letter-spacing: 2px;
    margin-left: 65px;
    font-size: 25px;
}
.val-box4  h3{
    font-weight: bolder;
    letter-spacing: 2px;
    margin-left: 65px;
    font-size: 25px;
}
.val-box5  h3{
    font-weight: bolder;
    letter-spacing: 2px;
    margin-left: 35px;
    font-size: 25px;
}
.value a{
    text-decoration: none;
    color: #212529;
}
.value{
    width: 50%;
}