.left1{
  border: red;
  
  height:35vh;
}
.left1 img{
 
  height: 80vh;
  width: 1680px;
}
.right1 h1{
  font-size: 30px;
  margin-top: 200px;
  margin-right: 130px;
  font-weight: bolder;
  color: red;
}
.right1 h2{
  margin-top: 12px;
}
