
.container9 table tr{
    font-size: 15px;
    color: aliceblue;
}
.container9 table tr td{
    font-size: 15px;
}
.container9 .title h1 {
    margin-bottom: 8px;
    margin-top: 0px;
    font-weight: bolder;
    font-size: 30px;
    color: aliceblue;
    letter-spacing: 3px;
}
.gas{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}
#contain{
    margin-left: 340px;
}
.foot{
  margin-left: 180px;
}
.card-body{
    width: 100%;
    height: 45vh;
    background-color: #f2f2f2;
    color: aliceblue;
}
.card{
    width: 40rem;
    margin-left: 125px;
    border: 4px solid #ccc;
    border-radius: 8px;
    margin-top: 40px;
    color: aliceblue;
   
}
.card-body .card-title{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 90px;
    letter-spacing: 1px;
    color: aliceblue;
}

.container9 .card-body .submit-btn4{
    width: 50%;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    height: 5vh;
    background-color: #ccc;
    color: aliceblue;
}

.btn4{
    align-items: center;
    margin-left: 135px;
    padding: 7px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    letter-spacing: 2px;
}
.btn{
    margin-left: 230px;
}
.return{
    margin-left: 230px;
    
}

.col-lg-6{
    color: aliceblue;
}
.col-lg-12{
    color: aliceblue;
    
}
td{
    color: aliceblue;
}
th{
    color: aliceblue;
}
.print{
    margin-left: 400px;
}