*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.body{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
    border: none;
    border: 2px solid  #ccc;
   
}
.container{
    max-width: 750px;
    width:100%;
    padding: 25px 30px;
    border-radius: 5px;
    
    
    

}
.container .title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* .container .title::before{
    content:'';
    position:absolute;
    height: 3px;
    width: 30px;
    background-color: aqua;
} */
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



}
form .user-details .input-box{
   margin-bottom: 15px;
    width:calc(100%/2 -20px);
}

.user-details .input-box .details{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}
.container form .user-details .input-box{
    width:calc(100%/2-20px);



}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    
    height: 100%;
    width:100%;
    outline: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

 .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    
}